<mat-card>
  <mat-card-title>About</mat-card-title>

  <div class="card-body">
    <mat-card-subtitle>Armin Sadeghzadeh</mat-card-subtitle>
    <mat-card-content>
      Hey! 👋 I am a software engineer with a passion for building web
      applications. I as a web developer and student of software engineering
      worked on different projects in my free time. I built web applications
      using React, Node.js, Express, MongoDB, and more.
      <br />
      As the Technology unfolds & grows itself we are leaving the analog world
      behind to a brighter future. Maybe? Who knows. I love to travel and
      explore and would love to travel the world and explore the cultures all
      around the world. I am also interested in languages & cosmology & love to
      learn about these things in my free time.
    </mat-card-content>
  </div>
</mat-card>
